*__pycache__*
.installed.cfg
*.pyc
*.pyo
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
workspace.xml
*.log
monitor/monitor
monitor/pkg
monitor/src/github.com/jstemmer
.DS_Store
tags
.idea/
.cache/
ansible/.idea/
apidoc/
backend/.cache/
backend/.coverage
backend/.idea/
backend/venv/
backend/modules/jama/.idea
backend/zuari_backend/static/
backend/zuari_backend/settings/local.py
*.ipr
*.iws
.idea_modules/
go/zuari_target/bin
go/zuari_target/zuari_target
go/zuari_target/pkg
go/zuari_target/log
go/zuari_target/pid
go/zuari_target/src/github.com/jstemmer
go/go_scheduler/bin
go/go_scheduler/go_scheduler
go/go_scheduler/pkg
go/go_scheduler/src/github.com/jstemmer
go/tools/zuari_deploy/zuari_deploy
go/tools/TI/TI
usage.report
go/tools/TI/TI.conf
go/tools/TI/pkg
